<h2>User info</h2>

<!--画像-->

<table>
  <tbody>
    <tr></tr>

    <tr>
      <th>name</th>
      <th><!--ユーザー名--></th>
    </tr>

    <tr>
      <th>introduction</th>
      <th><!--ユーザーの自己紹介文--></th>
    </tr>
  </tbody>
</table>

<!--ユーザーの編集画面へ-->
<i class="fas fa-user-cog"></i>

<h2>New book</h2>

<%= form_with model:book, local:true do |f| %>

  <label>Title</label>
  <%= f.text_field :title %>

  <label>Opinion</label>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>
